.box {
  border: 1px solid black;
  width: 600px;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
}

.win {
  border: 10px solid green;
  color: green;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid black;
  color: black;
}
